{% extends "base.html" %}
{% block title %} home {% endblock %}
{% block navtitle %} home {% endblock %}
{% block content %}
<h1 id="cheader">Seedbay? What's that?</h1>
<div class="post">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam adipiscing mattis pellentesque. Morbi quis erat sed est eleifend fermentum. Vivamus ullamcorper facilisis ipsum, ac adipiscing leo laoreet luctus. Ut ultricies, lectus pulvinar varius ultrices, lectus metus convallis orci, non vehicula tortor neque vel turpis. Mauris sit amet eros lectus. Vestibulum placerat diam et lectus pharetra convallis. Aenean vitae ipsum mauris.</p>
  <p>Curabitur vehicula imperdiet purus, vel consequat odio cursus sit amet. Proin cursus dolor sed metus volutpat et congue purus tincidunt. In hac habitasse platea dictumst. Etiam erat diam, egestas quis convallis ut, congue sit amet sapien. Donec tempor dapibus pharetra. Mauris aliquet dictum nibh. Etiam ipsum justo, ultrices ut semper in, scelerisque nec diam. Morbi et urna ac dui congue fringilla in et nisl. Morbi faucibus, augue a aliquam venenatis, augue nunc cursus lorem, eu sagittis risus justo sit amet eros. In eu odio justo, quis vestibulum sapien. Mauris fermentum, purus vitae imperdiet fermentum, lectus ipsum posuere odio, a iaculis mauris tellus sit amet lacus. In eget nisi vel eros viverra tristique vitae at libero. Donec vitae orci ligula. Proin quis lectus risus.</p>
  <p>Suspendisse potenti. Phasellus magna elit, hendrerit pulvinar tincidunt ut, posuere a nibh. Phasellus at mauris quis nibh pellentesque hendrerit. Duis nec nunc massa, id porta massa. Donec justo magna, hendrerit nec lacinia et, pretium vel odio. Donec nisi diam, tempus ut sollicitudin non, tempor sit amet nisl. Aliquam viverra ipsum a ipsum gravida viverra. Duis ornare, urna at congue faucibus, velit felis ultricies augue, ut fringilla turpis lorem dapibus augue. Etiam non est id eros rutrum commodo at ut justo. Praesent lobortis pharetra erat ac imperdiet. Aenean fringilla odio ut eros egestas tempor. Nullam fermentum faucibus nulla in aliquet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam sodales pellentesque venenatis.</p>
  <p>Phasellus cursus, nibh vitae tempus pulvinar, purus turpis suscipit massa, vitae accumsan nunc ligula at lectus. Sed id diam lacus, scelerisque consectetur metus. Aliquam leo velit, ultricies in iaculis ac, mattis vel lacus. Duis egestas vehicula sapien. Donec feugiat dapibus arcu ut mollis. Nulla pellentesque orci purus, eu venenatis mi. Mauris ac magna massa. Integer dapibus, diam et blandit lobortis, enim eros convallis sapien, eu vehicula nulla tortor ac metus. Sed egestas sodales justo vel malesuada. Donec commodo, purus at molestie blandit, nulla dui dictum arcu, a dapibus dolor est non eros. Morbi cursus libero non nunc tristique a auctor enim fringilla. Duis laoreet tempor pharetra. Maecenas dolor est, suscipit nec feugiat eget, egestas pharetra enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus pharetra convallis neque, vel tempor lorem imperdiet id. </p>
</div>
<h1 id="cheader">Sounds cool. How can I get started?</h1>
<p>In order to begin, you may simply <a href="/register">register a new account.</a></p>
<p>
<!--
View other farmers' seedbanks: 
{% for other_user in manifest %}
    {% if other_user != user %}
        <a href="/farmers/{{ other_user.id }}/seeds">{{ other_user }}</a>
    {% endif %}
{% endfor %}
</p>
-->
{% endblock %}
